---
layout: home
title: 时九和念九
---

<!-- {% for post in site.posts %}
  <div class='archive clearfix'>
    <a href='{{ site.baseurl }}{{ post.url }}' class="pull-left archive-title">{{ post.title }}</a>
    <span class='pull-right archive-date'>{{ post.date | date: "%F" }}</span>
  </div>
{% endfor %} -->

<div class="fullwidth">
  <div class="timeline group">
      {% for post in site.posts %}
        <div class="item">
            <h2> <a href='{{ site.baseurl }}{{ post.url }}'>{{ post.title }}</a></h2>
            <p>
                {% if post.event_img %}
                  <img src='{{ post.event_img }}'/>
                {% endif %}
            </p>
        </div>
      {% endfor %}
  </div>
</div>