<!DOCTYPE html>
<html class='borderbox'>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" href="{{ "/assets/css/home.css" | relative_url }}">
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
   
  
  
  </head>

  <body>
    {{ content }}
    <script type="text/javascript" src="{{ "/assets/js/home.js" | relative_url }}"></script>
  </body>


</html>